<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magang</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body class="font-poppins m-0 p-0">
    <main class="grid grid-cols-7 grid-rows-3">

        <aside class="col-span-1 row-span-3 bg-[#374353] h-screen p-4 sticky top-0">
            <div class="h-1/4 flex flex-col items-center justify-center mb-4">
                <img src="/images/logo-hmsi.png" alt="HMSI" class="w-40">
            </div>
            <div class="flex flex-col w-full">
                <button class="flex items-center text-[#e3ebf8] py-2 px-4 w-full transition-colors duration-300 cursor-pointer hover:bg-[#031227] hover:text-[#e3ebf8] rounded-md" onclick="window.location.href='/deskripsiadmin'">
                    <i class="fas fa-home mr-4"></i> Home
                </button>
                <button class="flex items-center text-[#e3ebf8] py-2 px-4 w-full transition-colors duration-300 cursor-pointer hover:bg-[#031227] hover:text-[#e3ebf8] rounded-md" onclick="window.location.href='/admindaftar'">
                    <i class="fas fa-list-alt mr-4"></i> Daftar
                </button>
                <button class="flex items-center text-[#e3ebf8] py-2 px-4 w-full transition-colors duration-300 cursor-pointer hover:bg-[#031227] hover:text-[#e3ebf8] rounded-md" onclick="window.location.href='/adminschedule'">
                    <i class="fas fa-list-alt mr-4"></i> Magang
                <button class="flex items-center text-[#e3ebf8] py-2 px-4 w-full transition-colors duration-300 cursor-pointer hover:bg-[#031227] hover:text-[#e3ebf8] rounded-md" onclick="window.location.href='#'">
                    <i class="fas fa-file-alt mr-4"></i> Penilaian
                </button>
                <button class="flex items-center text-[#e3ebf8] py-2 px-4 w-full transition-colors duration-300 cursor-pointer hover:bg-[#031227] hover:text-[#e3ebf8] rounded-md" onclick="window.location.href='/adminprofil'">
                    <i class="fas fa-user mr-4"></i> Profil
                </button>
            </div>
        </aside>
        <article class="col-span-6 row-span-3">
            <header class="bg-[#374353] flex items-center h-32">
                <h2 class="text-3xl text-white font-bold px-4">Magang Laboratory Dasar Komputasi</h2>
              </header>
              <nav class="bg-[#031227] text-white p-4">
                  <ul class="flex space-x-4">
                      <li><a href="#" class="hover:text-gray-300">Schedule</a></li>
                      <li><a href="/adminmodul" class="hover:text-gray-300">Module</a></li>
                      <li><a href="#" class="hover:text-gray-300">Assignments</a></li>
                      <li><a href="#" class="hover:text-gray-300">Absensi</a></li>
                  </ul>
              </nav>
        </article>
        <script src="https://cdn.tailwindcss.com"></script>
    </main>
</body>
</html>
